.App {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.img1 {
  background-image: url("/images/img1.jpg");
}

.img2 {
  background-image: url("/images/img2.jpg");
}

.img3 {
  background-image: url("/images/img3.jpg");
}

.img4 {
  background-image: url("/images/img4.jpg");
}